<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.mapper.MemberMapper">
 
    <resultMap id="memberMAP"  type="com.example.model.vo.MemberVO">
       <result property="eno" column="eno"/>
       <result property="from" column="from"/>
       <result property="to" column="to"/>
       <result property="sub" column="sub"/>
       <result property="body" column="body"/>
       <result property="date" column="inbox_date"/>
    </resultMap>

	 
	 <select id="memberGet"  resultMap="memberMAP">
	  	select * from tbl_member where eno=#{eno}
	 </select>
	
	
	 <select id="memberGetList" resultMap="memberMAP">
	  	select * from tbl_member order by eno desc
	 </select>
	
	
	<insert id="memberCreate" >
	 <![CDATA[  
		insert into tbl_member 
			      (eno,`from` ,`to`, sub, body , inbox_date
		) VALUES ( NULL , #{from},  #{to} , #{sub} , #{body} , now() )
			]]>
	</insert>
	
	
	<update id="memberUpdate" >
	  <![CDATA[  
	  update tbl_member SET	  `from`=#{from}  ,`to` = #{to}		 
	  	,sub =  #{sub}	 ,body = #{body} WHERE eno = #{eno}
	  	
	  	]]>
	</update>

	<delete id="memberDelete">
		delete from tbl_member where eno=#{eno}
	</delete>

</mapper>


