<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.mapper.MessageMapper">
 	 
 	 
 	 <resultMap id="messageMap"  type="com.example.model.vo.MessageVO">
       <result property="eno" column="eno"/>
       <result property="sender" column="sender"/>
       <result property="taker" column="taker"/>
       <result property="sub" column="sub"/>
       <result property="body" column="body"/>
       <result property="receivedDate" column="received_date"/>
       <result property="grade" column="grade"/>
    </resultMap>
 	 
 	 
 	 
	 <select id="messageGet"  resultMap="messageMap" >
	  	select * from message where eno=#{eno}
	 </select>
	
	
	 <select id="messageGetList" resultMap="messageMap">
	  	select * from message where 
	  	
	  		 grade=#{grade}
	  	
	  	order by eno desc
	 </select>
	
	

	
	
	
	<select id="messageAllList" resultMap="messageMap">
	  	select * from message  order by eno desc
	 </select>
	
	
	
	
	<insert id="messageCreate" >
	 <![CDATA[  
		INSERT INTO message(eno,sender,taker,sub, body, received_date, grade)  

		VALUES (#{eno}, #{sender} , #{taker}, #{sub}, #{body} , now() , #{grade})

			]]>
	</insert>
	

	
	<update id="messageUpdate" >
	  <![CDATA[  
	  update message SET sender = #{sender}	
	  	taker=#{taker}  , sub = #{sub}
	  	 
	  	,grade =  #{grade}, body = #{body} WHERE eno = #{eno}
	  	
	  	]]>
	</update>



	<delete id="messageDelete">
		delete from message where eno=#{eno}
	</delete>




</mapper>





